.ant-list-item-meta-title{
    color: white;
    font-size: 20px;
}

.ant-progress-text {
    color: white;
}

.ant-list-item{
    color: white;
    font-size: 20px;
}

.ant-progress-success-bg, .ant-progress-bg {
    background-color: #09d79d;
}

.ant-btn{
    margin-bottom: 10px;
}

.ant-card{
    background-color: #2f2f2f;
    color: white;
}

.ant-card-head-title{
    color: #aff1da;
    font-weight: bold;
    width: 100%;
}

.ant-card-head{
    border-bottom: 1px solid #626262;
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid #626262;
}

.ant-carousel .slick-dots-bottom {
    background-color: #2f2f2f;
    padding: 10px;
    border-radius: 10px;
}

.ant-modal-header {
    background-color: #2f2f2f;
    border-bottom: none;
}

.ant-modal-close-x {
    color: #f9ea8f;
}

.ant-modal-title {
    color: #f9ea8f;
}

.ant-modal-body{
    background-color: #3f3f3f;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #aff1da;
}

.ant-carousel .slick-dots-bottom {
    bottom: -20px;
}
