.pageWrapper{
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.pageHeader{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.pageHeaderDescription{
    font-size: 20px;
}

.galleryImage{
    max-width:100%;
    max-height:100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.galleryImageDiv{
    height: auto;
}

.btnMonero{
    background-color: orange;
    color: white;
    border: 0px solid white;
	border-radius: 6px;
}

.btnMonero:hover, .btnMonero:focus {
    background-color: orange;
    color: white;
    border-color: #40a9ff;
}

.spinner{
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 100px 30px;
    text-align: center;
    background: #2f2f2f;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {

	.pageWrapper{
		padding: 20px !important;
	}

    .pageHeader{
        text-align: center;
    }
    .pageHeaderDescription{
        text-align: center;
        font-size: 20px;
    }
}
