.sectionHeader{
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #09d79d;
}

.coverPicture{
    height: 50px;
	background: rgb(0,255,186);
    background: linear-gradient(166deg, rgba(160,172,218,1) 0%, rgba(0,255,186,1) 100%); 
}

.displayInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.displayPicture{
    display: flex;
    justify-content: center;
}

.profileHeader{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    margin: 20px 0px 10px 0px;
}

.about{
    font-size: 18px;
}

.aboutDonate{
    font-size: 18px;
    margin-bottom: 0px
}

@media screen and (max-width: 600px) {
    .displayInfo{
        display: grid;
        grid-template-columns: 1fr;
    }

    .profileHeader{
        display: grid;
        grid-template-columns: 1fr;
    }
}
